<footer class="site-footer">

  <div class="wrapper">
    <div>
      <div class="col-md-4 footer-left">
       <span>Powered By
        <a href="http://unrefugees.org" target="_blank">
        {% image U4Ulogo.png %}</a></span>
      </div>

      <div class="col-md-4 footer-center">
      </div>

      <div class="col-md-4 footer-right">
        <a href="mailto:hello@unrefugees.org">email us</a>
        <a href="http://www.unrefugees.org/privacy-policy/">privacy policy</a>
      </div>
    </div>

  </div>

</footer>
