<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <span>Powered By</span>
        <a href="http://unrefugees.org">
        {% image U4Ulogo.jpg %}</a>
      </div>

      <div class="footer-col  footer-col-2">
        212-422-2077
      </div>

      <div class="footer-col  footer-col-3">
        <a href="mailto:hello@unrefugees.org">email us</a>
        <a href="http://www.unrefugees.org/privacy-policy/">Privacy Policy</a>
      </div>
    </div>

  </div>

</footer>
