<footer class="site-footer">

  <div class="wrapper">
    <div>
      <div class="col-md-4 footer-left">
        <span>Powered By</span>
        <a href="http://unrefugees.org">
        {% image U4Ulogo.jpg %}</a>
      </div>

      <div class="col-md-4 footer-center">
        {% image UHW_logo.png class="footer-logo" %}
      </div>

      <div class="col-md-4 footer-right">
        <a href="mailto:hello@unrefugees.org">email us</a>
        <a href="http://www.unrefugees.org/privacy-policy/">privacy policy</a>
      </div>
    </div>

  </div>

</footer>
