$background: #02222d;
$foreground: #40bc65;
$break-large: 700px;
$bs-tablet: 768px;
$break-med: 480px;
$break-small: 400px;
$break-very-small: 380px;
$jesus-blue: #0171c3;

.home{
  text-align: center;
}

h2{
  color: $jesus-blue;
  font-family: serif;
}

.christmas-story{
  width: 60%;
  text-align: left;
  margin: auto;
  font-size: 1.5em;
  padding: 2em;
  @media screen and (max-width: $break-large){
    width: 100%;
    text-align: center;
  }
}

.uhw-logo{
  position: relative;
  float: right;
  bottom: 8vw;
  width: 15vw;
  margin-right: 1.5em;
}

.title-bar{
  text-align: center;
  padding: 0 0 3vh 0;
  width: 100%;
   position: absolute;
   top: 18vw;
   left: 50%; 
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%); 
   -ms-transform: translate(-50%, -50%); 
   -o-transform: translate(-50%, -50%); 
   transform: translate(-50%, -50%); 
}

#header-container{
  background-color: #042B56;
  & img{
    width: 100%;
  }
}

.title-text{
  color: white;
  font-size: 4em;
  font-weight: bold;
  font-family: serif;
  text-shadow:1px 1px 0 $jesus-blue,
-1px -1px 0 $jesus-blue,
1px -1px 0 $jesus-blue,
-1px 1px 0 $jesus-blue,
0px 1px 0 $jesus-blue,
1px 0px 0 $jesus-blue,
0px -1px 0 $jesus-blue,
-1px 0px 0 $jesus-blue,;
  @media screen and(max-width: $break-large){
    font-size: 2em;
  }
}

.form-container{
  text-align: center;
  padding: 1vh 4vw 4vh 4vw;
  max-width: 740px;
  margin:auto;
}

.story-form-container{
  color: white;
  background-color: $jesus-blue;
  padding: 1em 0px 1em 0px;
  border-bottom: solid 0.5em $background;
  & form{
    @media only screen and (max-width: $bs-tablet){
      width: 80%;
      margin: auto;
    }
  }
}

.story-msg{
  padding-top: 0.4em;
}

.card-image{
  position: relative;
  & img{
    width: 100%;
  }
  & .bible-quote{
    max-width: 700px;
    width: 80%;
    position: absolute;
    font-size: 2em;
    color: white;
    top: 30vw;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
    & .attrib{
      font-size: 1em;
      font-weight: 700;
      text-align: right;
      margin-right: 5em;
    }
    @media screen and (max-width: 900px){
      font-size: 1.5em;
      // top: 20vw;
      & .attrib{
        // font-size: 0.5em;
      }
    }
      @media screen and (max-width: 600px){
      font-size: 1em;
      // top: 20vw;
      & .attrib{
        font-size: 1em;
      }
    }
  }
}

.card-content{
  padding-top: 2em;
  width: 80%;
  margin: auto;
  & p{
    font-size: 1.5em;
    width: 40%;
    @media screen and (max-width: $break-large){
      width: 100%;
      text-align: center;
    }
  }
  & form{
    width: 45%;
    @media screen and (max-width: $break-large){
      width: 100%;
      text-align: center;
    }
    & input{ 
    margin-bottom: 0.5em;
    }
  }
  & h2{
    @media screen and (max-width: $break-large){
      width: 100%;
      font-size: 2em;
      text-align: center;
    }
  }
}

$rotate-image: 5deg;

.card-preview{
  width: 50%;
  max-width: 540px;
  float: right;
  -ms-transform: rotate($rotate-image);
  -webkit-transform: rotate($rotate-image);
  -o-transform: rotate($rotate-image);
  transform: rotate($rotate-image);
  @media screen and (max-width: $break-large){
    float: none;
    margin: auto;
    width: 80%;
    padding: 0.5em;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.separator-bar{
  margin-top: 8vw;
  width:100%;
  height: 4em;
  background-color: $background;
}

.celebrate{
  clear: both;
  width: 80%;
  margin: auto;
  margin-top: 3em;
  @media only screen and (max-width: $break-large){
    text-align: center;
    width: 90%;
    & p{
      margin: auto;
    }
    & form{
      margin: auto;
    }
  }
  & p{
    font-size: 1.5em;
    width: 80%;
  }
}

.celebrate-form{
  width: 60%;
  padding-top: 1.5em;
  & .btn{
    margin: auto;
  }
}

.celebrate-msg{
}

.site-footer{
  background: $background;
}

.footer-center{
  text-align: center;
  & img{
    width: 10vw;
    margin: auto;
  }
}

.footer-right{
  text-align: center;
  line-height: 6em;
  & a{
    font-size: 16pt;
    padding: 0.5em;
    &:hover{
      text-decoration: none;
      cursor: hand;}
    }
    @media screen and(max-width: $break-med){
      font-size: 14pt;
    }
}

.footer-left{
  text-align: center;
  color: white;
   line-height: 6em;
  & span{
   margin: auto;
  }
  & img{
    margin: auto;
    width: 15vw;
  }
}
